@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
--soft-orange: hsl(35, 77%, 62%);
--soft-red: hsl(5, 85%, 63%);
--off-white:hsl(36, 100%, 99%);
--grayish-blue: hsl(233, 8%, 79%);
--dark-grayish-blue: hsl(236, 13%, 42%);
--very-dark-blue: hsl(240, 100%, 5%);
--ff-inter: "Inter", sans-serif;
}

body {
  font-family: var(--ff-inter);
}
ul {
  color: var(--dark-grayish-blue);
}
.desktop-nav li:hover {
  cursor: pointer;
  color: var(--soft-orange);
}

.mobile-nav {
  color: var(--very-dark-blue);
  font-weight: 700;
  font-size: 20px;
  padding-top: 4rem;
}

.hamburger-icon {
  margin: 1rem 0 0 20rem;
  position: absolute;
  z-index: 1;
  right: 1rem;
  top: 1rem;
}

.button{
  background-color: var(--soft-red);
}
.content-2 {
  padding: 50px 20px 20px 10px;
  background-color: var(--very-dark-blue);
  color: var(--off-white);
  font-size: 12px;
}

.content-2 h2{
  color: var(--soft-orange);
}

.bottom-widget h1{
  color: var(--soft-orange);
}
.bottom-widget {
  font-size: 12px;
}